<!--<router-outlet></router-outlet>-->

<app-nav></app-nav>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-3">
            <app-user-search></app-user-search>
        </div>
        <div class="col-md-3">
            <app-user-form></app-user-form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-users></app-users>
        </div>
        <div class="col-md-8">
            <app-photos></app-photos>
        </div>
    </div>


</div>
